<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuhf.project16.mapper.EntityMapper">
    <resultMap id="enterpriseResult" type="com.tuhf.project16.model.Enterprise">
        <association property="carrierName" select="getCarrierName" column="carrier_id"/>
    </resultMap>
    <resultMap id="enterpriseBriefResult" type="com.tuhf.project16.payload.response.EnterpriseBriefResponse">
        <association property="carrierName" select="getCarrierName" column="carrier_id"/>
    </resultMap>

    <insert id="addEnterprise" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into entity_enterprise(
            credit_code, name, registerd_capital, type, industry, address, register_at, operator_name,
            contact_name, contact_phone, bank, bank_account, additional_data, material, carrier_id, business,
            status, enter_at, juridical_name, juridical_phone, juridical_email, logo, update_at
        ) value (
            #{creditCode},
            #{name},
            #{registeredCapital},
            #{type},
            #{industry},
            #{address},
            #{registerAt},
            #{operatorName},
            #{contactName},
            #{contactPhone},
            #{bank},
            #{bankAccount},
            #{additionalData},
            #{material},
            #{carrierId},
            #{business},
            #{status},
            #{enterAt},
            #{juridicalName},
            #{juridicalPhone},
            #{juridicalEmail},
            #{logo},
            sysdate()
        )
    </insert>

    <update id="updateEnterprise">
        update entity_enterprise
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="creditCode != null">credit_code = #{creditCode},</if>
            <if test="registeredCapital != null">registered_capital = #{registeredCapital},</if>
            <if test="address != null">address = #{address},</if>
            <if test="type != null">type = #{type},</if>
            <if test="industry != null">industry = #{industry},</if>
            <if test="operatorName != null">operator_name = #{operatorName},</if>
            <if test="contactName != null">contact_name = #{contactName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="bank != null">bank = #{bank},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="carrierId != null">carrier_id = #{carrierId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="juridicalName != null">juridical_name = #{juridicalName},</if>
            <if test="juridicalPhone != null">juridical_phone = #{juridicalPhone},</if>
            <if test="juridicalEmail != null">juridical_email = #{juridicalEmail},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="additionalData != null">additional_data = #{additionalData},</if>
            <if test="material != null">material = #{material},</if>
            update_at = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="getEnterpriseById" resultType="com.tuhf.project16.model.Enterprise">
        select * from entity_enterprise
        where id = #{id};
    </select>

    <select id="getCarrierName" resultType="string">
        select name carrier_name from entity_carrier
        where id = #{carrierId};
    </select>

    <select id="getBriefById" resultType="com.tuhf.project16.payload.response.EnterpriseBriefResponse">
        select id, name, carrier_id, address, industry, status from entity_enterprise
        where id = #{id}
    </select>

    <select id="getAllBriefs" resultType="com.tuhf.project16.payload.response.EnterpriseBriefResponse">
        select id, name, carrier_id, address, industry, status from entity_enterprise
    </select>

    <select id="getParentIdForCarrier" resultType="long">
        select ec.parent_id from entity_carrier ec
        where ec.id = #{carrierId}
    </select>
</mapper>