<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhf.project16.mapper.TransApplicationMapper">
    <insert id="addIn" parameterType="com.tuhf.project16.model.TransInApplication">
        insert into trans_in_application(
            name, carrier_id, credit_code, registered_capital, address, business, type, register_at, certification,
            additional_data, status, create_at
        ) value (
            #{name},
            #{carrierId},
            #{creditCode},
            #{registeredCapital},
            #{address},
            #{business},
            #{type},
            #{registerAt},
            #{certification},
            #{additionalData},
            #{status},
            #{createAt}
        )
    </insert>

    <insert id="addOut" parameterType="com.tuhf.project16.model.TransOutApplication">
        insert into trans_out_application(
            enterprise_id, carrier_id, trans_out_at, comment, status, additional_data, type, create_at
        ) value (
            #{enterpriseId},
            #{carrierId},
            #{transOutAt},
            #{comment},
            #{status},
            #{additionalData},
            #{type},
            #{createAt}
            )
    </insert>
    <update id="setInStatus">
        update trans_in_application
        set status = #{status}
        where id = #{id}
    </update>
    <update id="setOutStatus">
        update trans_out_application
        set status = #{status}
        where id = #{id}
    </update>

    <select id="getOutByCarrierId" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
        where carrier_id = #{carrierId}
    </select>

    <select id="getInByCarrierId" resultType="com.tuhf.project16.model.TransInApplication">
        select * from trans_in_application
        where carrier_id = #{carrierId}
    </select>
    <select id="getInById" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_in_application
        where id = #{id}
    </select>
    <select id="getOutById" resultType="com.tuhf.project16.model.TransInApplication">
        select * from trans_out_application
        where id = #{id}
    </select>

</mapper>
