<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuhf.project16.mapper.TransApplicationMapper">
    <insert id="addTransInApplication" parameterType="com.tuhf.project16.model.TransInApplication">
        insert
    </insert>

    <!--
    <select id="getAll" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
    </select>

    <select id="getById" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
        where id = #{id}
    </select>

    <select id="getByCarrierId" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
        where carrier_id = #{carrierId}
    </select>

    <select id="getByEnterpriseId" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
        where enterprise_id = #{enterpriseId}
    </select>

    <select id="getByStatus" resultType="com.tuhf.project16.model.TransOutApplication">
        select * from trans_out_application
        where status = #{status}
    </select>

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into trans_out_application(
        enterprise_id, carrier_id, trans_out_at, comment, status
        ) value (
            #{enterpriseId},
            #{carrierId},
            #{moveAt},
            #{comment},
            #{status}
        )
    </insert>
    -->

</mapper>
